<h1>Edit Trip</h1>

<% if @trip.errors.any? %>
  <ul>
    <%@trip.errors.each do |column, message| %>
      <li>
        <%= column %> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_with model: @trip, class: 'form-horizontal' do |f| %>
      <p>Please update the data for the trip:</p>
      <div class='form-group'>
        <%= f.label :date, class: 'control-label'%>
        <%= f.date_field :date, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :rating, class: 'control-label'%>
        <%= f.select :rating, [1, 2, 3, 4, 5], class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :cost, class: 'control-label'%>
        <%= f.text_field :cost, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :passenger_id, class: 'control-label' %>
        <%= f.select :passenger_id, Passenger.all.map{ |auth| [auth.name, auth.id] } %>
      </div>

      <div class='form-group'>
        <%= f.label :driver_id, class: 'control-label' %>
        <%= f.select :driver_id, Driver.all.map{ |auth| [auth.name, auth.id] } %>
      </div>

      <div class='form-group'>
        <%= f.submit "Save Trip", class: "button" %>
      </div>
    <% end %>
  </div>
</div>