<h1>Creating a New Trip</h1>

<% if @trip.errors.any? %>
  <ul>
  <%@trip.errors.each do |column, message| %>
    <li>
    <%= column %> <%= message %>
    </li>
  <% end %>
  </ul>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_with model: @trip, class: 'form-horizontal' do |f| %>
      <p>Please enter the data for the trip:</p>
      <div class='form-group'>
        <%= f.label :date, calss: 'control-label'%>
        <%= f.date_field :date, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :passenger_id, class: 'control-label' %>
        <%= f.select :passenger_id, Passenger.all.map{ |auth| [auth.name, auth.id] } %>
      </div>

      <div class='form-group'>
        <%= f.submit "Save", class: "button" %>
      </div>
    <% end %>
  </div>
</div>