<h1>Showing Trips details</h1>

<ul>
  <li>Driver: <%= link_to @trip.driver.name, driver_path(@trip.driver.id)%></li>
  <li>Passenger: <%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id)%></li>
  <li>Price: <%= @trip.cost %></li>
  <li>
    <% if @trip.rating.nil? %>
      <p>Select Rating <%= select_tag 'rating', options_for_select([1, 2, 3, 4, 5])%> </p>
    <% else %>
      <p>Rating: <%= @trip.rating %></p>
    <% end %>
  </li>
  <%= button_to "Edit", edit_trip_path(@trip),
    method: "get", class: "button"
  %>
  <%= button_to "Delete", trip_path(@trip),
    method: :delete, class: "button",
    data: {confirm: "Are you sure?"}
  %>
</ul>