<% if @passenger.errors.any? %>
  <ul>
  <%@passenger.errors.each do |column, message| %>
    <li>
    <%= column %> <%= message %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= form_with model: @passenger, class: 'edit-passenger' do |f| %>
  <p>Please update the data for the passenger:</p>
  <table>
  <tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  </tr>

  <tr>
  <td><%= f.label :phone_num %></td>
  <td><%= f.text_field :phone_num %></td>
  </tr>

  </table>
  <%= f.submit "Save Passenger", class: "button" %>
<% end %>
