<<<<<<< HEAD
<h3>Passengers</h3>

<ul>
  <li>On the passenger list page, I want to click on a passenger, so that I can see that passenger's details</li>


  <h3>On the passenger's details page, I want to be able to...</h3>
  <li>See the total amount the passenger has been charged</li>
  <li>See a list of trips that passenger went on</li>
  <li>- Click on an individual trip from the list of trips, which will take me to a detail page for that trip</li>
  <li>- Click a link to edit that passenger</li>
  <li>- Click a link to delete that passenger</li>
  <li>- Click a button to add a new trip for that passenger</li>
</ul>

<ul>
  <% @passengers.each do |passenger|  %>
    <li class="list">
      <%= passenger.id %> - 
      <%= passenger.name %> : 
      <%= passenger.phone_num %>
      <%= button_to "Show", passenger_path(passenger),
          method: "get", class: "button"
      %>
      <%= button_to "Edit", edit_passenger_path(passenger),
          method: "get", class: "button"
      %>
      <%= button_to "Delete", passenger_path(passenger),
          method: :delete, class: "button",
          data: {confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ul>
<h3>Select an action</h3>
<ul>
  <li>
    <%= button_to "Add New Passenger", new_passenger_path,
      method: "get", class: "button"
    %>
  </li>
</ul>
