<h1>Creating a New Passenger</h1>

<p>I want to see errors and validations that show that a passenger must be provided a name and a phone number, so that I cannot make a passenger without name or phone number</p>

<%= form_with model: @passenger, class: 'create-passenger' do |f| %>
  <p>Please enter the data for the passenger:</p>
  <table>
  <tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  </tr>

  <tr>
  <td><%= f.label :phone_num %></td>
  <td><%= f.text_field :phone_num %></td>
  </tr>

  </table>
  <%= f.submit "Save Passenger", class: "button" %>
<% end %>
