<h1>Passenger Details</h1>

<ul>
  <li>Id: <%= @passenger.id %></li>
  <li>Name: <%= @passenger.name %></li>
  <li>Phone Number: <%= @passenger.phone_num %></li>
  <li>Total Charges: $<%= @passenger.total_cost%></li>
  <li>Trip Dates: 
    <% if @passenger.all_trips.empty? %>
      No Trips
    <% else %>
      <% @passenger.all_trips.each do |trip| %>
        <%= link_to "#{trip.date}", trip_path(trip.id) %> /
      <% end %>
    <% end %>
  </li>
  <li><%= link_to "Trip Details", passenger_trips_path(@passenger.id) %></li>
</ul>

<h3>Select an action</h3>
<%= button_to "Edit", edit_passenger_path(@passenger),
    method: "get", class: "button"
%>
<%= button_to "Delete", passenger_path(@passenger),
    method: :delete, class: "button",
    data: {confirm: "Are you sure?"}
%>
<%= button_to "Add Trip", new_passenger_trip_path(@passenger.id),
  method: :get, class: 'button'
%>
 
