<h1>Editing a Driver</h1>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class='row'>
  <div class='col-md-4'>
    <%= form_with model: @driver, class: 'form-horizontal' do |f| %>
      <p>Please update the data for the driver:</p>
      <div class='form-group'>
        <%= f.label :name, class: 'control-label '%>
        <%= f.text_field :name, class: 'form-control', placeholder: "Driver Name" %>
      </div>

      <div class='form-group'>
        <%= f.label :vin, class: 'control-label '%>
        <%= f.text_field :vin, class: 'form-control', placeholder: "Vin Number" %>
      </div>

      <div class='form-group'>
        <%= f.label :available %>
        <%= f.check_box :available %>
      </div>

      <div class='form-group'>
        <%= f.submit "Save Driver", class: "button" %>
      </div>
    <% end %>
  </div>
</div>

