<h1>Creating a New Driver</h1>

<% if @driver.errors.any? %>
  <ul>
  <%@driver.errors.each do |column, message| %>
    <li>
    <%= column %> <%= message %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @driver.errors.any? %>
  <ul class="errors">
    <% @driver.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <p>Please enter the data for the driver:</p>
  <table>
  <tr>
  <td><%= f.label :name %></td>
  <td><%= f.text_field :name %></td>
  </tr>

  <tr>
  <td><%= f.label :vin %></td>
  <td><%= f.text_field :vin %></td>
  </tr>

  <tr>
  <td><%= f.label :available %></td>
  <td><%= f.check_box :available %></td>
  </tr>
  </table>
  <%= f.submit "Save Driver", class: "button" %>
<% end %>
