<h3>Driver Details</h3>
<ul>
  <li>Id: <%= @driver.id %></li>
  <li>Name: <%= @driver.name %></li>
  <li>VIN: <%= @driver.vin %></li>
  <li>Available: <%= @driver.available %></li>
</ul>

<h3>Select an action</h3>
<%= button_to "Edit", edit_driver_path(@driver),
    method: "get", class: "button"
%>
<%= button_to "Delete", driver_path(@driver),
    method: :delete, class: "button",
    data: {confirm: "Are you sure?"}
%>
<%= button_to "Return to Driver List", drivers_path,
    method: "get", class: "button"
%>

